body{
    background-color: #8c578c;
}

h1{
    font-family: "Comic Sans MS";
    font-size: 35px;
}

h2{
    font-family: "Comic Sans MS";
    font-size: 25px;
}

p{
    text-align: center;
    text-transform: none;
    color: #c2a4a4;
}

img{
    width: 300px;
}
