h1{
    font-family: "Comic Sans MS";
    font-size: 35px;
}

h2{
    font-family: "Comic Sans MS";
    font-size: 25px;
}

p{
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: none;
    color: #0a58ca;
}

img{
    width: 300px;
}
